asgiref==3.11.0
attrs==25.4.0
Django==5.2.8
django-extension==0.1.0
django-extensions==4.1
django-silk==5.4.3
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
dnspython==2.8.0
drf-spectacular==0.29.0
gprof2dot==2025.4.14
graphviz==0.21
inflection==0.5.1
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
pillow==12.0.0
psycopg2==2.9.11
PyJWT==2.10.1
pymongo==4.15.4
python-dotenv==1.2.1
PyYAML==6.0.3
referencing==0.37.0
rpds-py==0.30.0
ruff==0.14.7
shelve_cache==0.0.4
sqlparse==0.5.4
typing_extensions==4.15.0
uritemplate==4.2.0
